@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap');

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GothamBook/GothamBook.eot');
    src: url('../fonts/GothamBook/GothamBook.woff') format('woff'), url('../fonts/GothamBook/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'gothambold1';
    src: url('../fonts/gothambold/gothambold1.eot');
    src: url('../fonts/gothambold/gothambold1.woff') format('woff'), url('../fonts/gothambold/gothambold1.ttf') format('truetype');
}

@font-face {
    font-family: 'GothamMediumRegular';
    src: url('../fonts/GothamMedium/GothamMediumRegular.eot');
    src: url('../fonts/GothamMedium/GothamMediumRegular.eot') format('embedded-opentype'),
        url('../fonts/GothamMedium/GothamMediumRegular.woff2') format('woff2'),
        url('../fonts/GothamMedium/GothamMediumRegular.woff') format('woff'),
        url('../fonts/GothamMedium/GothamMediumRegular.ttf') format('truetype'),
        url('../fonts/GothamMedium/GothamMediumRegular.svg#GothamMediumRegular') format('svg');
}

$text-op: 'Open Sans',
sans-serif;

$text-gb:'GothamBook',
sans-serif;
$text-gbold:'gothambold1',
sans-serif;
$text-gm:'GothamMediumRegular',
sans-serif;

$fz-main: 1.8rem;
$fz-menu: 1.4rem;
$fz-h1: 8rem;
$fz-h2: 4.4rem;
$fz-h3: 2.2rem;


$color-main: #4b5562;
$color-w: #fff;
$color-h: #2c4058;
$color-date: #55b7ff;
$brand-color: #7e5aff;